<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>
<div class="container">
    <header>header</header>
    <section class="island one">island<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque neque vel aspernatur quis quas, nulla numquam modi ad laudantium obcaecati tempora deleniti pariatur aperiam ducimus nostrum non minima cupiditate unde.</p></section>
    <section class="hero two">feature<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque veniam maxime id rem commodi quas provident at distinctio. Incidunt modi, facilis optio doloremque blanditiis facere itaque aliquam vitae beatae. Ex!</p></section>
    <section class="island three">island<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad qui inventore voluptas facere reiciendis omnis voluptates nemo fuga accusantium, officia veritatis optio ratione quisquam adipisci dolore nisi dicta repudiandae alias.</p></section>
    <section class="island fourth">island<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, nemo culpa? Dolorem, pariatur molestiae ipsa placeat nisi sequi, iusto et ipsam quos corrupti nihil dicta saepe optio est a aliquid.</p></section>
    <footer>footer</footer>
</div>

</body>
</html>