* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    text-align: center;
}

.container {
    width: 2000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header,footer {
    width: 100%;
    height: 200px;
    border: 3px solid black;
    background-color: lightgray;
}

#first.island, #first.hero, #second.island, #third.island, #fourth.island {
    height: 550px;
    border: 3px solid black;
}

#first.island, #second.island, #third.island {
    width:19.82%;
    background-color: lightcoral;
}

#first.hero {
    width: 40.54%;
    background-color: lightseagreen;
}

